// * {
//   font-size: small;
// }

.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}

// Code added by Abhishek

.taskDisplayer {
  border-radius: 15px;
}

.leaveDisplayer {
  background-color: $success;
}

.notificationRow {
  background-color: $notificationRow;
}

.tableBorder {
  border-radius: 20px;
  background-color: black;
}

.projectsBody {
  height: 82.5vh;
}

.dropdownLink {
  color: $gray-900;
  text-decoration: none;
}

.userButton {
  // border: 1px solid white ;
  border-radius: 10px;
  background-color: #a4c0f9;
  // width: 45px;
}

.userName {
  font-size: 12px;
  white-space: nowrap;
}

.userDesignation {
  text-transform: capitalize;
  font-size: xx-small;
  white-space: nowrap;
}

.navlinkPointer {
  cursor: pointer;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}