.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;
  background-color: $themedarkblue;
  padding: 0;
  .sidenav-bg {
    // border-top: 1px solid $gray-800;
    margin: 1px;
    background-color: $themeblue;
    // border-radius: $border-radius;
  }
  .sidenav-bg:hover {
    background-color: $gray-100;
    font-weight: bold;
    // border-radius: $border-radius;
    // margin: 10px;
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;
    margin-left: -$sidebarWidth;
    transition: 0.2s ease-in;
    &.showSidebar {
      margin-left: 0px;
    }
  }
}

.themeBlue {
  margin: 0%;
  background-color: $themeblue;
}